#bantheLogo{
  align-self: center;
}

div {
  text-align: auto;
}

table {
  border-collapse: collapse;
  text-align: left;
  font-size: 15px;
}

tr {
  border: 0px;
}

#boldText {
  font-weight: 900;
  color: red;
}


p.normal {
  font-weight: normal;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}
